<div id="comment_<%= comment.id %>" class="media card-comment">
  <%= gravatar_for comment.user %>
  <div class="media-body ml-3">
    <h6 class="mb-0"><%= comment.user_name %></h6>
    <%= form_for [comment.campaign, comment], html: {class: "edit_comment d-none"}, remote: true do |f| %>
      <div class="form-group form-comment">
        <%= f.text_area :content, class: "form-control", "origin-val": comment.content %>
        <div class="submit-comment">
          <%= link_to "javascript:;", class: "btn btn-sm btn-danger btn-cancel-edit", "target-id": comment.id do %>
            <i class="fas fa-times"></i>
          <% end %>
          <%= button_tag :submit, name: "commit", data: {confirm: t("global.you_sure?")}, class: "btn btn-sm btn-primary" do %>
            <i class="fas fa-save"></i>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="comment-content">
      <p class="mb-0"><%= comment.content %></p>
      <div class="small text-right text-muted w-100">
        <%= t "global.time_ago", time: time_ago_in_words(comment.created_at) %>
      </div>
    </div>
    <% if current_user_or_admin? comment.user %>
      <div class="card-dropdown">
        <button class="btn btn-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to t("global.edit"), "javascript:;", class: "dropdown-item edit-comment-item", "target-id": comment.id %>
          <%= link_to t("global.delete"), [comment.campaign, comment], method: :delete, data: {confirm: t("global.you_sure?")}, remote: true, class: "dropdown-item" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
