<% provide :title, @user.name %>
<section class="py-2">
  <div class="container mb-5">
    <div class="top-introduce py-2">
      <div class="row">
        <div class="col-md-6 d-flex align-items-center">
          <%= render "users/user_info_card", user: @user %>
        </div>
        <div class="col-md-6">
          <%= image_tag "svg/user_info.svg", class: "my-3", width: "100%" %>
        </div>
      </div>
    </div>
  </div>
  <div class="container border-top mt-4 pt-5">
    <div class="row align-items-center mb-5">
      <div class="col-md-4">
        <h5 class="font-weight-semibold">
          <%= t ".created_campaigns" %>
          <span>(<%= @user.campaigns.size %>)</span>
        </h5>
      </div>
      <div class="col-md-8">
        <div>
          <ul class="nav nav-pills kindmate-nav-pills justify-content-end" id="campaign-pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <%= link_to "#pills-all",
                          class: "nav-link active",
                          id: "pills-all-tab",
                          "data-toggle": "pill",
                          role: "tab",
                          "aria-controls": "pills-campaigns",
                          "aria-selected": "false" do
              %>
                <span><%= t("global.all") %></span>
                <span class="badge badge-light"><%= @campaigns.size %></span>
              <% end %>
            </li>
            <li class="nav-item" role="presentation">
              <%= link_to "#pills-pending",
                          class: "nav-link",
                          id: "pills-pending-tab",
                          "data-toggle": "pill",
                          role: "tab",
                          "aria-controls": "pills-campaigns",
                          "aria-selected": "false" do
              %>
                <span><%= t("campaigns.statuses.pending") %></span>
                <span class="badge badge-light"><%= @campaigns_pending.size %></span>
              <% end %>
            </li>
            <li class="nav-item" role="presentation">
              <%= link_to "#pills-running",
                          class: "nav-link",
                          id: "pills-running-tab",
                          "data-toggle": "pill",
                          role: "tab",
                          "aria-controls": "pills-campaigns",
                          "aria-selected": "false" do
              %>
                <span><%= t("campaigns.statuses.running") %></span>
                <span class="badge badge-light"><%= @campaigns_running.size %></span>
              <% end %>
            </li>
            <li class="nav-item" role="presentation">
              <%= link_to "#pills-stopped",
                          class: "nav-link",
                          id: "pills-stopped-tab",
                          "data-toggle": "pill",
                          role: "tab",
                          "aria-controls": "pills-campaigns",
                          "aria-selected": "false" do
              %>
                <span><%= t("campaigns.statuses.stopped") %></span>
                <span class="badge badge-light"><%= @campaigns_stopped.size %></span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
        <div id="campaign-all-render" class="row">
          <%= render @campaigns %>
        </div>
        <div id="campaign-all-paginator" class="paginator-container">
          <%= paginate @campaigns, remote: true %>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-pending" role="tabpanel" aria-labelledby="pills-pending-tab">
        <div id="campaign-pending-render" class="row">
          <%= render @campaigns_pending %>
        </div>
        <div id="campaign-pending-paginator" class="paginator-container">
          <%= paginate @campaigns_pending, remote: true %>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-running" role="tabpanel" aria-labelledby="pills-running-tab">
        <div id="campaign-running-render" class="row">
          <%= render @campaigns_running %>
        </div>
        <div id="campaign-running-paginator" class="paginator-container">
          <%= paginate @campaigns_running, remote: true %>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-stopped" role="tabpanel" aria-labelledby="pills-stopped-tab">
        <div id="campaign-stopped-render" class="row">
          <%= render @campaigns_stopped %>
        </div>
        <div id="campaign-stopped-paginator" class="paginator-container">
          <%= paginate @campaigns_stopped, remote: true %>
        </div>
      </div>
    </div>
  </div>
</section>
