<li class="nav-item dropdown mr-3">
  <%= link_to "#", id: "navbarNotificationsDropdown", class: "nav-user-notificaitons h-100", "data-toggle": "dropdown",
              role: "button", "aria-haspopup": "true", "aria-expanded": "false" do %>
    <i class="far fa-bell"></i>
    <span id="notificationsNewCount" class="badge badge-pill badge-danger <%= current_nviewed_noti.any? ? '' : 'd-none' %>">
      <%= current_nviewed_noti.size %>
    </span>
  <% end %>
  <%= render "notifications/notification_dropdown" %>
</li>
<li class="nav-item dropdown">
  <%= link_to "#", id: "navbarUserInfoDropdown", class: "nav-link dropdown-toggle nav-user-info", "data-toggle": "dropdown",
              role: "button", "aria-haspopup": "true", "aria-expanded": "false" do %>
    <%= gravatar_for user %>
    <span class="font-weight-semibold"><%= user&.name %></span>
  <% end %>
  <div class="dropdown-menu" aria-labelledby="navbarUserInfoDropdown">
    <%= link_to t("_header.donate_history"), donations_path, class: "dropdown-item" %>
    <%= link_to t("_header.profile"), user, class: "dropdown-item" %>
    <div class="dropdown-divider"></div>
    <%= link_to t("_header.logout"), logout_path, method: :delete, class: "dropdown-item" %>
  </div>
</li>
