<%= search_form_for @query, url: admin_campaigns_path do |f| %>
  <div class="card-body">
    <div class="form-row">
      <div class="form-group col-md-3 col-sm-6 mb-md-0">
        <%= f.label :title_cont, t("form.admin.campaign.title") %>
        <%= f.text_field :title_cont,
                         placeholder: t("campaigns.of_campaign", attr: t("campaigns.title")),
                         value: params[:q].try(:[], :title_cont),
                         class: "form-control" %>
      </div>
      <div class="form-group col-md-3 col-sm-6 mb-md-0">
        <%= f.label :description_cont, t("form.admin.campaign.description") %>
        <%= f.text_field :description_cont,
                         placeholder: t("campaigns.of_campaign", attr: t("campaigns.description")),
                         value: params[:q].try(:[], :description_cont),
                         class: "form-control" %>
      </div>
      <div class="form-group col-md-3 col-sm-6 mb-md-0">
        <%= f.label :user_name_cont, t("form.campaign.creator") %>
        <%= f.text_field :user_name_cont,
                         placeholder: t("campaigns.of_campaign", attr: t("campaigns.creator")),
                         value: params[:q].try(:[], :user_name_cont),
                         class: "form-control" %>
      </div>
      <div class="form-group col-md-3 col-sm-6 mb-0">
        <%= f.label :status_eq, t("form.campaign.status") %>
        <%= f.select :status_eq,
                     campaign_status_options,
                     {include_blank: t("global.all")},
                     {class: "form-control"} %>
      </div>
    </div>
  </div>
  <div class="card-footer bg-white py-4 d-flex justify-content-end">
    <%= button_tag :submit, name: nil, class: "btn w-20 btn-primary" do %>
      <i class="fas fa-search mr-1"></i>
      <span><%= t "global.search" %></span>
    <% end %>
  </div>
<% end %>
