<div class="card-donation">
  <div class="row">
    <div class="col-md-9 donation-main">
      <div class="media">
        <%= donation_payment_type_icon donation %>
        <div class="media-body ml-3">
          <h6 class="mb-2 font-weight-semibold donation-title">
            <%= donation.campaign_title %>
          </h6>
          <p class="mb-2 donation-message">
            <%= donation.message %>
          </p>
          <h6 class="small text-secondary mb-0">
            <%= donation_payment_short_info donation %>
          </h6>
        </div>
      </div>
    </div>
    <div class="col-md-3 donation-amount">
      <p class="font-weight-bold text-primary mt-md-0 mt-3 mb-0 text-right">
        <%= currency_no_precision donation.amount %>
      </p>
    </div>
  </div>
</div>
