<% provide :title, t(".title") %>
<section class="my-2 pb-4 container">
  <h3 class="mb-4 font-weight-bold">
    <%= t ".title" %>
    (<%= current_user.donations.size %>)
  </h3>
  <div class="mt-2 mb-5">
    <%= search_form_for @query do |f| %>
      <div class="d-flex align-items-center">
        <div class="form-group mb-0">
          <%= f.search_field :message_or_amount_or_payment_code_or_campaign_title_cont,
                             placeholder: t("global.fill_in_keyword"),
                             value: params[:q].try(:[], :message_or_amount_or_payment_code_or_campaign_title_cont),
                             class: "form-control" %>
        </div>
        <div class="form-group mb-0 ml-3">
          <div class="input-group">
            <%= f.search_field :created_at_cont,
                               id: "donation_created_date",
                               placeholder: t(".donated_date"),
                               value: params[:q].try(:[], :created_at_cont),
                               class: "form-control" %>
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fas fa-calendar-alt"></i>
              </span>
            </div>
          </div>
        </div>
        <%= button_tag :submit, name: nil, class: "btn btn-primary ml-3" do %>
          <i class="fas fa-search mr-1"></i>
          <span><%= t "global.search" %></span>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p class="text-muted font-weight-semibold mt-0">
        <%= t "global.donated_times", times: @donations.size %>
      </p>
      <div id="donation-render">
        <%= render partial: "donations/donation_owner", collection: @donations_paged, as: :donation %>
      </div>
      <div id="donation-paginator" class="paginator-container">
        <%= paginate @donations_paged, remote: true %>
      </div>
    </div>
    <div class="col-md-6"></div>
  </div>
</section>
