<tr>
  <th scope="row" class="w-20">
    <span class="mb-0 text-sm font-weight-semibold">
      <%= link_to campaign.title, campaign, target: "_blank" %>
    </span>
  </th>
  <td class="w-30">
    <%= campaign.description %>
  </td>
  <td class="w-15 font-weight-medium">
    <%= link_to campaign.user_name, campaign.user, target: "_blank" %>
  </td>
  <td>
    <span class="badge badge-<%= campaign_status_badge(campaign)[:variant] %>">
      <%= campaign_status_badge(campaign)[:text] %>
    </span>
  </td>
  <td class="w-15">
    <small class="text-muted font-weight-semibold"><%= percentage_no_precision campaign.finished_percentage %></small>
    <div class="progress">
      <div class="progress-bar"
           style="width: <%= campaign.finished_percentage %>%"
           role="progressbar"
           aria-valuenow="0"
           aria-valuemin="0"
           aria-valuemax="100">
      </div>
    </div>
  </td>
  <td class="text-right">
    <div class="dropdown">
      <%= link_to "#", class: "btn btn-sm btn-default common-icon-btn", role: "button", "data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "false" do %>
        <i class="fas fa-ellipsis-v"></i>
      <% end %>
      <div class="dropdown-menu dropdown-menu-right">
        <%= campaign_change_status_link campaign %>
        <%= link_to t("global.edit"), edit_campaign_path(campaign), class: "dropdown-item" %>
        <%= link_to t("global.delete"), campaign, method: :delete, data: {confirm: t("global.you_sure?")}, class: "dropdown-item" %>
      </div>
    </div>
  </td>
</tr>
