<div class="col-lg-3 col-md-4 col-sm-6 col-12">
  <article class="card card-campaign mb-4" id="campaign-<%= campaign.id %>">
    <div class="embed-responsive embed-responsive-16by9">
      <%= image_tag(campaign.image, class: "embed-responsive-item") if campaign.image.attached? %>
    </div>
    <div class="card-body">
      <div class="campaign-user-avatar">
        <%= gravatar_for campaign.user %>
      </div>
      <div class="campaign-main-info">
        <%= link_to campaign do %>
          <h5 class="card-title my-3 font-weight-bold">
            <%= campaign.title %>
          </h5>
        <% end %>
        <div class="card-text campaign-description">
          <%= campaign.description %>
        </div>
        <small class="d-block card-text text-right text-muted mt-3">
          <span><%= t "global.created_by" %></span>
          <%= link_to campaign.user_name, campaign.user, class: "font-weight-medium" %>
        </small>
      </div>
      <div class="d-flex justify-content-between align-items-center mt-3 pt-3 border-top w-100">
        <div class="d-flex justify-content-between align-items-center">
          <div class="progress-circle progress-<%= campaign.finished_percentage %>"></div>
          <span class="text-primary font-weight-semibold ml-2">
            <%= number_to_percentage campaign.finished_percentage, precision: 0 %>
          </span>
        </div>
        <div class="text-right">
          <div class="font-weight-semibold">
            <%= number_to_currency campaign.total_amount, locale: :vi %>
          </div>
          <span class="small text-muted">
            <%= t "global.remaining_time", remaining: distance_of_time_in_words(Time.now, campaign.expired_at) %>
          </span>
        </div>
      </div>
    </div>
  </article>
</div>
