<%= search_form_for @query, url: admin_users_path do |f| %>
  <div class="card-body">
    <div class="form-row">
      <div class="form-group col-md-4 col-sm-6">
        <%= f.label :name_cont, t("form.admin.user.name") %>
        <%= f.text_field :name_cont,
                         placeholder: t("users.of_user", attr: t("users.name")),
                         value: params[:q].try(:[], :name_cont),
                         class: "form-control" %>
      </div>
      <div class="form-group col-md-4 col-sm-6">
        <%= f.label :email_cont, t("form.admin.user.email") %>
        <%= f.text_field :email_cont,
                         placeholder: t("users.of_user", attr: t("users.email")),
                         value: params[:q].try(:[], :email_cont),
                         class: "form-control" %>
      </div>
      <div class="form-group col-md-4 col-sm-6">
        <%= f.label :phone_cont, t("form.admin.user.phone") %>
        <%= f.text_field :phone_cont,
                         placeholder: t("users.of_user", attr: t("users.phone")),
                         value: params[:q].try(:[], :phone_cont),
                         class: "form-control" %>
      </div>
      <div class="form-group col-md-4 col-sm-6 mb-md-0">
        <%= f.label :address_cont, t("form.user.address") %>
        <%= f.text_field :address_cont,
                         placeholder: t("users.of_user", attr: t("users.address")),
                         value: params[:q].try(:[], :address_cont),
                         class: "form-control" %>
      </div>
      <div class="form-group col-md-4 col-sm-6 mb-md-0">
        <%= f.label :description_cont, t("form.user.description") %>
        <%= f.text_field :description_cont,
                         placeholder: t("users.of_user", attr: t("users.description")),
                         value: params[:q].try(:[], :description_cont),
                         class: "form-control" %>
      </div>
      <div class="form-group col-md-4 col-sm-6 mb-0">
        <%= f.label :is_blocked_eq, t("form.user.status") %>
        <%= f.select :is_blocked_eq,
                     user_status_options,
                     {include_blank: t("global.all")},
                     {class: "form-control"} %>
      </div>
    </div>
  </div>
  <div class="card-footer bg-white py-4 d-flex justify-content-end">
    <%= button_tag :submit, name: nil, class: "btn w-20 btn-primary" do %>
      <i class="fas fa-search mr-1"></i>
      <span><%= t "global.search" %></span>
    <% end %>
  </div>
<% end %>
