<% provide :title, t(".title") %>
<div class="container">
  <h4 class="font-weight-semibold mb-4"><%= t ".title" %></h4>
  <div class="row">
    <div class="col-12">
      <div class="card shadow border-0 mb-4">
        <div class="card-header bg-primary text-white d-flex align-items-center">
          <i class="fas fa-filter mr-2"></i>
          <h6 class="font-weight-semibold mb-0">
            <%= t ".filter" %>
          </h6>
        </div>
        <%= render "admin/users/user_filter_form" %>
      </div>
    </div>
    <div class="col-12">
      <div class="card shadow border-0">
        <div class="card-header bg-primary border-0 text-white d-flex align-items-center">
          <i class="fas fa-list mr-2"></i>
          <h6 class="font-weight-semibold mb-0">
            <%= t ".filtered_users", count: @users.size, all: User.all.size %>
          </h6>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col"><%= t "users.name" %></th>
                <th scope="col"><%= t "users.email" %></th>
                <th scope="col"><%= t "users.phone" %></th>
                <th scope="col"><%= t "users.address" %></th>
                <th scope="col"><%= t "users.desc" %></th>
                <th scope="col"><%= t "users.status" %></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: "users/user_row", collection: @users, as: :user %>
            </tbody>
          </table>
        </div>
        <div class="card-footer bg-white py-4">
          <div class="paginator-container">
            <%= paginate @users %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
