<header class="navbar navbar-expand-lg bg-white navbar-kindmate fixed-top">
  <div class="container">
    <%= link_to root_url, class: "navbar-brand kindmate-logo" do %>
      <%= image_tag "logo.svg" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-nav--left">
        <li class="nav-item">
          <%= link_to t("global.campaigns"), campaigns_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t("_header.about_us"), about_path, class: "nav-link" %>
        </li>
        <% if current_user&.admin? %>
          <li class="nav-item">
            <%= link_to t("_header.manager"), admin_index_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if logged_in? %>
          <li class="nav-item d-flex align-items-center">
            <%= link_to t("static_pages.home.create_campaign"), new_campaign_path, class: "btn btn-outline-primary mr-3" %>
          </li>
          <%= render "shared/header_user_info", user: current_user %>
        <% else %>
          <li class="nav-item">
            <%= link_to t("_header.create_account"), signup_path, class: "btn btn-outline-primary mr-3" %>
          </li>
          <li class="nav-item">
            <%= link_to t("_header.login"), login_path, class: "btn btn-primary" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
